<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/fragments :: head(#{blog.title.comments})"></head>
<body class="h-100">
<header th:replace="fragments/fragments :: header">
</header>
<main class="container h-100" >
    <h1 class="text-center" th:text="#{comment.form.title}"></h1>
    <div th:text="${currentDate}"></div>
    <form method="post" th:object="${comment}" th:action="@{/private/comments/create}">
        <div>
            <label th:text="#{comment.form.user.name}"></label>
            <input type="text" name="userName" th:placeholder="#{comment.form.placeholder.name}" class="form-control" th:field="*{userName}">
        </div>
        <div>
            <label th:text="#{comment.form.message}"></label>
            <textarea name="message" th:placeholder="#{comment.form.message.placeholder}" class="form-control message" th:field="*{message}"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-success mt-3">
    </form>

    <div th:if="${success}" th:text="#{comment.success}" class="fs-4 text-danger"></div>

</main>

<footer th:replace="fragments/fragments :: footer">
</footer>
</body>
</html>