<html lang="en" style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>DogBlog</title>
</head>
<body>
<div class="container">
    <form method="post" th:object="${userRegistration}" th:action="@{/public/user/create}">
        <h2 th:text="#{lt.codeacademy.eshop.user.registration.form.title}"></h2>
        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.name}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{name}"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : (${userRegistration.name ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               th:class="invalid-feedback"></p>
        </div>
        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.username}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{username}"
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : (${userRegistration.username ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}"
               th:class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.surname}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{surname}"
                   th:classappend="${#fields.hasErrors('surname')} ? 'is-invalid' : (${userRegistration.surname ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('surname')}"
               th:errors="*{surname}"
               th:class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.country}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{country}"
                   th:classappend="${#fields.hasErrors('country')} ? 'is-invalid' : (${userRegistration.country ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('country')}"
               th:errors="*{country}"
               th:class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.city}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{city}"
                   th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : (${userRegistration.city ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('city')}"
               th:errors="*{city}"
               th:class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.street}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{street}"
                   th:classappend="${#fields.hasErrors('street')} ? 'is-invalid' : (${userRegistration.street ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('street')}"
               th:errors="*{street}"
               th:class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.zipCode}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{zipCode}"
                   th:classappend="${#fields.hasErrors('zipCode')} ? 'is-invalid' : (${userRegistration.zipCode ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('zipCode')}"
               th:errors="*{zipCode}"
               th:class="invalid-feedback"></p>
        </div>


        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.phone}"></label>
            <input type="text"
                   class="form-control"
                   th:field="*{phone}"
                   th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : (${userRegistration.phone ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('phone')}"
               th:errors="*{phone}"
               th:class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.password}"></label>
            <input type="password"
                   class="form-control"
                   th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('global')} ? 'is-invalid' : (${userRegistration.password ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></p>
            <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="invalid-feedback"></p>
        </div>

        <div class="mb-3">
            <label class="form-label" th:text="#{lt.codeacademy.eshop.user.registration.form.repeatPassword}"></label>
            <input type="repeatPassword"
                   class="form-control"
                   th:field="*{repeatPassword}"
                   th:classappend="${#fields.hasErrors('repeatPassword') || #fields.hasErrors('global')} ? 'is-invalid' : (${userRegistration.repeatPassword ne null} ? 'is-valid' : '')">
            <p th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{password}" class="invalid-feedback"></p>
            <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="invalid-feedback"></p>
        </div>
        <button class="btn btn-outline-primary" type="submit" th:text="#{lt.codeacademy.eshop.user.registration.form.create.button}"></button>

    </form>
</div>
<footer th:replace="fragments/fragments :: footer">
</footer>
</body>
</html>